/*Creo que para estuviera más optimizado se podría hacer una hoja de estilos diferente para cada página, para que entre otras cosas se cargaran sólo las fuentes necesarias(aunque esto se podría hacer en el header de cada página) y también por evitar el CSS exclusivo de cada página. No sé con seguridad qué sería lo correcto*/

/* MEJORAS:
media query menu ok
paddings %
Menú responsive ok 
Capitalze ok
Transiciones
Depurar CSS
favicon
meta description    
 */

@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Handlee|Great+Vibes|Montserrat:400,700&display=swap');
/* * {
    border: 1px solid red !important;
} */

* {
    box-sizing: border-box;
}

/*Escondo la scrollbar, ya que al haber menús que guían al interior de la página hay una alternativa funcional*/

::-webkit-scrollbar {
    display: none;
    scrollbar-width: 0px;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #21242e;
    min-height: 100vh;
}

h2 {
    font-family: 'Handlee', cursive;
}

h3, p {
    line-height: 1.5em;
}

img {
    width: 100%;
    height: auto;
    display: block
}

.wrapper {
    min-height: 100vh;
}

/*Según se ve en el mockup las cabeceras y botones tienen las letras capitalizadas. Como se supone que poner mayúsculas lo que en un texto normal va en minúsculas, y esto afecta al seo. Introduzco la capitalización por CSS, ya que es un mero efecto estético*/

h2, h3, h4, h5, a {
    text-transform: capitalize;
}

/* Inicio Header */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.container-fluid {
    width: 100%;
}

.row::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

header .nav_top {
    background: #21242e;
    color: #fafafa;
    padding: 20px 0;
}

header .nav_top .container div {
    float: left;
    width: 25%;
}

header .nav_top a {
    color: #fafafa;
    text-decoration: none;
    font-size: 1.5rem;
}

header .nav_top a:visited {
    color: #fafafa;
}

header .nav_top a span {
    display: none;
}

header .nav_top a i {
    color: #da573a;
}

header .nav_top .container div:nth-child(3), header .nav_top .container div:nth-child(4) {
    text-align: right;
}

/* Inicio Nav */

header nav.container {
    padding: 1.5em 1.5em;
}

header h1.logo {
    float: left;
    width: 6.25em;
}

header .hamburguesa {
    display: block;
    cursor: pointer;
    width: 2em;
    float: right;
}

header .hamburguesa div {
    border-top: .2em solid #aaa;
    width: 2em;
    margin-bottom: .3em;
}

header nav .menu {
    width: 70%;
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: height .5s;
}

/*Toggle menu responsive*/

input.inputOculto {
    display: none;
}

input#on:checked~.menu {
    height: 28em;
}

input#off:checked~.menu {
    height: 0em;
}

header nav .menu li {
    padding: 1.25em;
    text-align: center;
    border-bottom: 1px solid #aaa;
}

header nav .menu li:last-child {
    border: none;
    font-size: 4em;
    padding: 0em;
    color: #aaa;
}

header nav .menu li:last-child label {}

header nav .menu li a {
    display: block;
    color: #aaa;
    text-decoration: none;
}

header nav .menu li a.activo, header nav .menu li a:hover {
    color: #da573a;
}

/* Inicio Hero */

.hero {
    background: #aaa url('../images/fondo.jpg') no-repeat scroll bottom center;
    background-size: cover;
    height: 37.5rem;
    background-blend-mode: multiply;
}

.hero>div {
    color: #fafafa;
    padding: 15% 3%;
}

.hero>div>* {
    margin-bottom: 1em;
}

.hero h2 {
    font-size: 2rem;
}

.hero h3 {
    color: #da573a;
    font-size: 1.25rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.15rem
}

.btn {
    background: #da573a;
    display: inline-block;
    color: #fafafa;
    text-decoration: none;
    padding: 1em;
    transition: all 1s;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: .1em;
}

.btn:hover {
    color: #da573a;
    border: 1px solid #da573a;
    background-color: #fafafa00;
}

.btn i {
    transform: translateX(0);
    transition: transform .25s;
}

.btn:hover i {
    transform: translateX(2em) scale(3);
}

.social li {
    display: inline-block;
    font-size: 2em;
    margin-right: 1em;
}

.social a {
    text-decoration: none;
    color: #fafafa;
}

.social a:hover {
    color: #da573a;
}

/* Main */

main {
    position: relative;
    min-height: 100vh;
}

main section .container {
    padding-top: 3.125em;
    padding-bottom: 3.125em;
}

main section h2 {
    color: #21242e;
    font-size: 2em;
    text-align: center;
}

main section h2>span {
    color: #da573a;
}

/*He bajado la especificidad de las decoraciones de los h2 ya que es un elemento reultilizable y creo que es más óptimo*/

.underline {
    position: relative;
    font-weight: bold;
    width: 12.5rem;
    margin: 0 auto;
    color: #da573a;
    border-style: solid;
    font-size: 1.5em;
}

.underline hr {
    border-color: #da573a;
    position: absolute;
    width: 100%;
    top: -.5px;
}

.underline span {
    display: block;
    text-align: center;
}

main section .flex {
    display: flex;
    flex-wrap: wrap;
}

main .flex article {
    width: 100%;
    margin-bottom: 2em;
    text-align: left;
    padding: 1.5em 0;
    border-bottom: 1px solid #aaa;
}

main .flex article:last-child {
    border-bottom: none;
}

main .flex article>* {
    margin-bottom: 1em;
}

main section article div>i {
    color: #da573a;
    font-size: 2em;
    border: 2px solid #da573a;
    padding: 1rem;
    border-radius: .3rem;
}

main section article div i.fa-truck {
    transform: scaleX(-1)
}

main section article h3 {
    font-size: 1.25em;
    font-weight: bold;
    color: #21242e;
}

main section article p {
    text-align: justify;
}

main section article .enlace {
    text-decoration: none;
    color: #da573a;
    font-weight: bold;
}

main section article .enlace i {
    transform: translateX(0);
    transition: transform .25s;
}

main section article .enlace:hover i {
    transform: translateX(1em) scale(2);
}

/* Inicio About Us */

main section .flex .columna {
    width: 100%;
    padding: 1.25em 0;
    margin: 0 auto;
    width: 80%;
}

main section .imgCont .marco {
    border: 3px solid #da573a;
    background: transparent;
    transform: rotate(10deg);
    transition: 1s;
}

main section .imgCont img {
    transform: rotate(-10deg);
    transition: 1s;
}

main section .imgCont:hover .marco, main section .imgCont:hover img {
    transform: rotate(0);
}

main section .texto {
    padding: 1.25em 0;
}

main section .texto>* {
    margin-bottom: 1em;
}

main section .columna h3 {
    font-size: 1.25em;
    font-weight: bold;
    color: #21242e;
}

main section .columna h4 {
    color: #da573a;
}

/* FOOTER */

footer {
    padding: 1em;
    background: #21242e;
}

footer ul li {
    float: left;
    margin-right: 2em;
}

footer a, footer li {
    color: #fafafa;
    text-align: center;
}

/*menu.html && blog.html*/

h2.notIndex {
    padding-top: 1.5em;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    text-align: center;
    /*Truco barriobajero para hacer negritas donde no las hay*/
    text-shadow: .01em .01em #21242e, -.01em -.01em #21242e, .01em -.01em #21242e, -.01em .01em #21242e;
}

h2.notIndex span {
    color: #da573a;
    /*Hay que repetir las shadow, ya que el color es diferente;*/
    text-shadow: .01em .01em #da573a, -.01em -.01em #da573a, .01em -.01em #da573a, -.01em .01em #da573a;
}

/*menu.html------------*/

main.menuPage {
    /*He sacado el color con cuenta-gotas y es #1c1c1c, pero como el color rojo también es ligeramente diferente supongo que en realidad los colores son los mismos usados hasta ahora y las diferencias se deben al modo de color del png del mockup*/
    background: #21242e;
    color: #fafafa;
}

main.menuPage .menuMenu {}

main.menuPage .menuMenu ul {}

main.menuPage .menuMenu li {
    margin-bottom: 1em;
}

main.menuPage .menuMenu a {
    display: block;
    padding: 1em;
    border-radius: .2em;
    text-decoration: none;
    color: #fafafa;
    background-color: transparent;
    transition: background .5s;
}

main.menuPage .menuMenu a.active {
    background: #da573a;
}

main.menuPage .menuMenu a:hover, main.menu .menuMenu a:visited:hover {
    background: #da573a;
}

/*Offers*/

section.offers {}

section.offers h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

section.offers .underline {}

section.offers hr {
    margin-left: 0;
    width: 7em;
    border-color: #da573a;
    position: relative;
    left: 0;
    margin: 1rem 0 1rem 0;
}

section.offers p {
    position: relative;
}

/* Meals */

.menuPage .flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-flow: row wrap;
    margin-top: 1.5em;
}

.menuPage .flex .columna {
    width: 100%;
}

.menuPage .flex section article.meal {
    border: none;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.menuPage .flex section article.meal>* {
    margin-bottom: 0;
}

article.meal .cardImgCont {
    overflow: hidden;
}

article.meal .cardImgCont {}

article.meal h3 {
    font-size: 1.25rem;
    color: #fafafa;
    text-align: left;
}

article.meal h3 span.price {
    margin-left: 1em;
    color: #da573a;
}

.flex article.meal:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

a.subir {
    position: absolute;
    right: .5em;
    bottom: .5em;
    display: inline-block;
    color: #fafafa;
    text-decoration: none;
    font-size: 2rem;
    padding: 1em;
    background: #da573a;
    border-radius: .2em;
}

a.subir i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* blog.html */

main .flex article.blogCard {
    border-left: none;
}

.cardImgCont {
    position: relative;
}

.cardImgCont img {}

.cardImgCont .date {
    position: absolute;
    top: 0;
    left: 0;
    background: #da573ccc;
    color: #fafafa;
    padding: .75em 1em;
    font-weight: bold;
}

.blogCard h3 {}

.blogCard h4 {
    color: #da573a;
    font-weight: bold;
}

/* Media queries */

/* Tablet */

@media(min-width:769px) {
    header .nav_top a span {
        display: inline;
        font-size: .5em;
    }
    header .nav_top a i {
        display: inline;
        font-size: .5em;
        font-size: .7em;
    }
    main .flex article {
        width: 50%;
        padding: 1.5em 1.5em;
        border-bottom: none;
        border-left: 1px solid #aaa;
        margin-bottom: 1em;
    }
    main .flex article:last-child {
        width: 100%;
    }
    main section .underline {
        margin-bottom: 2em;
    }
    .menuPage .flex article {
        width: 100%;
    }
}

@media(min-width:1005px) {
    .container {}
    header .hamburguesa {
        display: none;
        float: none;
    }
    /*Por si se redimensiona la ventana y el menú está desplegado:*/
    input#off:checked~.menu {
        height: auto;
    }
    input#on:checked~.menu {
        height: auto;
    }
    header nav .menu {
        width: auto;
        padding-top: 0;
        height: auto;
        float: right;
    }
    header nav .menu li {
        display: inline-block;
        padding: .5em 0em 0 1.25em;
        text-align: right;
        border-bottom: none;
    }
    header nav .menu li:last-child {
        display: none;
    }
    main section .flex .columna {
        width: 50%;
        padding: 2em;
    }
    .menuPage .flex {
        flex-direction: row;
    }
    .menuPage .flex>.columna:first-child {
        padding-top: 1.5em;
        width: 25%;
    }
    .menuPage .flex>.columna:last-child {
        width: 75%;
        padding-left: 3rem;
    }
    .menuPage .flex section article.meal {
        flex-direction: row;
        padding: 1.5em 0 1.5em 1.5em;
    }
    article.meal .cardImgCont {
        width: 40%;
        height: 100%;
    }
    article.meal .cardImgCont img {}
    article.meal .texto {
        width: 60%;
        padding: 0;
        margin-left: 2em;
    }
    article.meal .texto h3 {
        min-height: 3em;
    }
    article.meal .texto .enlace {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

@media(min-width:1201px) {
    .container {
        max-width: 1150px;
        margin: 0 auto;
        padding: 0;
    }
    .hero>div {
        padding: 7% 3%;
        max-width: 1100px;
        margin: 0 auto;
    }
    main .flex article {
        width: 33.33%;
    }
    main .flex article:last-child {
        width: 33.33%;
    }
    .menuPage .flex section article.meal {
        width: 100%;
    }
    article.meal .cardImgCont {
        width: 25%;
    }
    article.meal .cardImgCont img {}
    article.meal .texto {
        width: 75%;
        padding: 0;
        margin-left: 2em;
    }
    article.meal .texto h3 {
        min-height: auto;
    }
}